$color-white: #fff;
$color-black: #000;
$color-orange: #ff7d2e;

$color-sidebar-bgr: #212121;
$color-main-text: $color-white;
$color-link: #aaa;
$color-link-hovered: $color-white;
$color-highlight: $color-orange;

$sidebar-width: 25.6rem;

$font-size: 1.3rem;
$font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
